<header>
  <h2>Create an Article</h2>
</header>
<div class="text">
    <%= form_for @article do |f| %>
        <fieldset>
            <%= f.label :title %>
            <%= f.text_field :title %>
        </fieldset>
        <fieldset>
            <%= f.label :description %>
            <%= f.text_area :description %>
        </fieldset>
        <fieldset>
            <%= f.submit %>
        </fieldset>
    <% end %>
</div>
