<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
      <a href="<%= root_path %>" class="logo"></a>
      <ul class="links">
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Blog', articles_path %></li>
      </ul>
    </nav>
    <div id="wrapper">
      <%= yield %>
      <%= render 'layouts/messages' %>
    </div>
    <footer>
      &copy; <%= Time.current.year %> Will Murdoch
    </footer>
  </body>
</html>